# Backend API URL
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
# Supabase Configuration
# Substitua com suas credenciais reais do Supabase
NEXT_PUBLIC_SUPABASE_URL='https://[YOUR-SUPABASEURL].supabase.co'
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR-SUPABASE-ANON=KEY
